.container {
  position: relative;
  padding: 1rem;
  border-color: #333;
  text-align: left;
}

.container > :last-child {
  margin-bottom: 0;
}

.container.isCentered {
  text-align: center;
}

.container.withTitle > .title {
  display: table;
  padding: 0 0.5rem;
  font-size: 1.4rem;
}

.container.withTitle.isCentered > .title {
  margin: -2rem auto 1rem;
}

/** safari fix */
.isSafari {
  background-color: var(--app-background-color);
}
