.modalStyle {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  overflow: hidden;
  padding: 4px;
  border: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  width: var(--modal-width, 640px);
}

.modalStyle > * {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.modalStyle.entered > * {
  opacity: 1;
}

.modalStyle form {
  position: relative;
  z-index: 2;
  background: white;
  padding: 10px;
  background: var(--primary-color);
  border-radius: 8px;
  width: 100%;
  margin: auto;
  display: block;
  padding: 16px;
}

.modalStyle .buttonsWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalStyle .buttonsWrap button {
  width: 50%;
  font-size: 24px;
}

.modalStyle .buttonsWrap button:first-child {
  margin-right: 16px;
}

.modalStyle form > *:not(:last-child) {
  margin-bottom: 12px;
}

.overlay {
  height: 100%;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  opacity: 0;
}
