.dashboard {
  opacity: 0;
  flex-direction: column;
}

.dashboard h1 {
  font-size: 28px;
}

.listsWrapper {
  width: 100%;
  font-size: 0;
  flex: 1;
  overflow: auto;
  padding: 16px;
}

.listsWrapper li {
  width: 100%;
  min-height: 64px;
  font-size: 18px;
  background-color: var(--primary-bg-color);
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
  padding-right: 8px;
}

.listsWrapper li:not(:last-child) {
  margin-bottom: 16px;
}

.listsWrapper header button {
  font-size: 0;
  height: 50px;
  width: 50px;
  background-color: var(--primary-color);
}

.listsWrapper header button svg {
  width: 24px;
  fill: #fff;
}

.listsWrapper header {
  position: absolute;
  right: 8px;
  z-index: 8;
}

.listsWrapper li section {
  line-height: 1.4;
  padding: 4px;
  display: flex;
  user-select: none;
  flex: 1;
  padding-right: 64px;
  position: absolute;
  left: -4px;
  right: 8px;
  width: 100%;
  padding-left: 8px;
  min-height: 64px;
  align-items: center;
}

.listsWrapper li section:active {
  transform: scale(0.96);
}

.listsWrapper li section h4 {
  margin: 0;
  word-break: break-all;
}

.listsContainer {
  width: 100%;
  flex: 1;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 1rem 0.5rem !important;
}

.listsContainer legend {
  font-size: 1.3rem !important;
}
